# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
dist-examples

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories
.vscode
.idea
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Testing
coverage

# Misc
*.tsbuildinfo
